{% extends "base.html" %}
{% block content %}

<h1>Add question</h1>
<div class="page-header">
    <form method="POST" action="/forum/question/add/">
        {% csrf_token %}
        <p><strong>Question Text:</strong><br>
            <input type="text" name="question_text" size=40 maxlength=150></p>
        <p><strong><label>Topics:</label></strong></p>
        <p><select id="Topic_id" name="topics">
            <option value="0">Select Topic</option>
            <option value="1">science</option>
            <option value="2">social science</option></select></p>
        <p><button type="submit" class="btn btn-primary" name="submit">Add Question</button>
        </p>
    </form>
</div>
{% endblock content %}